:root {
    --dark: #1F1F24;
    --dark-grey: #313131;
    --mint: #95FCDE;
}

@font-face{font-family:'Inter';src:url(../fonts/Inter-Regular.ttf) format("ttf");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'Inter';src:url(../fonts/Inter-SemiBold.ttf) format("ttf");font-weight:600;font-style:normal;font-display:swap}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.container {
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
}

a {
    color: inherit;
}

h1 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 90px;
    line-height: 1.1;
    font-weight: 600;
}

h2 {
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 90px;
    line-height: 1.05;
    font-weight: 600;
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
}

.header {
    position: absolute;
    color: white;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

.banner {
    background: var(--dark);
    color: white;
}

.why-me {
    background: var(--dark);
    color: white;
}

.write {
    background: var(--dark-grey);
    color: white;
}

.footer {
    background: var(--dark-grey);
    color: white;
}